<div class="container">
  <h1>Join the Waitlist</h1>
  <p>Sign up with your email to be notified when we launch!</p>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

  <form action="<%= waitlist_path %>" method="post">
    <%= csrf_meta_tags %>
    <input type="email" name="email" placeholder="Enter your email" required>
    <button type="submit">Join the Waitlist</button>
  </form>

  <p>Have a beta login? <a href="/signin">Sign in here.</a></p>
</div>
