/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

input[type="email"] {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.notice {
  color: green;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logout-btn, .signin-btn {
  display: inline-block;
  padding: 10px 15px;
  background: #ff4b4b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.logout-btn:hover {
  background: #d63030;
}

.signin-btn {
  background: #007bff;
}

.signin-btn:hover {
  background: #0056b3;
}
